.navi {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
}

.navi ul {
  width: 100%;
}

.button {
  display: block;
  padding: 10px;
  background: white;
  width: 20%;
  float: left;

  transition: .2s all;
}

.button p {
  height: 10px;
  font-weight: 300;
}

.button a {
  color: #333333;

  text-decoration: none;
}

.navi:hover .button {

  opacity: .5;

  transform: scale(.98);
}

.navi:hover .button:hover {
  transition: .5s;

  transform: scale(1.2);

  opacity: 1;
}

.navi:hover .button:hover>p {
  font-weight: bold;
}


h1 {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px blue;
  padding: 0.2em 0.5em;
  color: black;
}

.img {
  width: 200px;
  height: 150px;
  margin: 0 auto;
}



.event {
  border-left: 2px solid #3498db;
  padding-left: 20px;
  margin-bottom: 20px;
}

.year {
  font-size: 20px;
  font-weight: bold;
  color: #3498db;
}

.description {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.box {
  display: flex;

  justify-content: space-around;
}

.item {
  width: 25%;
  height: auto;
  margin: 10px;
  padding: 10px;
  text-align: center;

}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-around;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;

}

ul a {
  text-decoration: none;
}

.timeline {
  float: left;
  width: 40%;

  margin-left: 3%;
}

.x {
  float: right;
  width: 40%;
}

#home {
  background-image: url(/img/sky_00001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.big-bg {
  background-size: cover;
  background-position: center top;
}
