@charset "utf-8";
.red{
    border-radius: 8px;
    background-color: red;
    color: white;
}
b{
    text-align: left;
    vertical-align: top;
  
}
body{
    font-size: 10px;
}
c{
    font-size: 7px;
}

.label{
    background: aquamarine;
    float: left;
    margin-right: 10px;
    width:150px;
    border-right: solid 3px black;
}

.addres{
    margin-left: 10rem;
  }
fieldset{
    background-color: beige;
    margin-bottom: 5px;
}

