/*記述済みの部分は変更しないでください！*/

@charset "utf-8";

.mark-list {
    list-style: "★";
}
li .anser {
font-size: 101px;
}

.navi{
 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
  }
  .navi ul {
    width: 100%;
  }
  .button{
    display: block;
    padding:10px;
    background:white;
    width:20%;
    float:left;
    transition:.2s all;
  }
  .button p {
    height: 10px;
    font-weight: 300;
  }
  .button a {
    color:#333333;
  
    text-decoration:none;
  }
  .navi:hover .button{
   
    opacity: .5;
  
    transform: scale(.98);
  }
  .navi:hover .button:hover{
    transition: .5s;
  
    transform:scale(1.2);
  
    opacity:1;
  }
  .navi:hover .button:hover > p {
    font-weight: bold;
  }
  h1 {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 1px blue;
    padding: 0.2em 0.5em;
    color: black;
  }
.mark-list {
  float: left;
  width: 60%;
}
img {
  float: right;
  width: 40%;
}