@charset "utf-8";
h1{
    color:blue;
}
table,th,td{
    border: solid 3px green; 
    border-collapse: collapse;
}
th{
    background-color: aquamarine;
    font-size: 35px;
}
caption{
    font-size: 30px;
}
tbody{
    font-size: 30px;
}
